:root {
    --cor-primaria: #055a05;
    --cor-secundaria: #f4a261;
    --cor-destaque1: #264653;
    --cor-destaque2: #e9c46a;
    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-body);
    color: 333;
}

header {
    background-color: var(--cor-primaria)
}

main {
    background-color: white;
    padding: 10px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--cor-destaque1);
    color: #fff;
}

footer {
    width: 840px;
    margin: 0 auto;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

.redes-sociais {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.redes-sociais img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}