:root {
    --cor-primaria: #055a05;
    --cor-secundaria: #f4a261;
    --cor-destaque1: #264653;
    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;
}

h2 {
    color: var(--cor-destaque2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-body);
    color: #333;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    background-color: var(--cor-primaria);
    padding: 10px;
}

main,
footer {
    width: 840px;
    margin: 0 auto;
}

main {
    background-color: #ffffff;
    padding: 10px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .6);
    padding: 10px;
    font-family: var(--fonte-titulo);
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 16px;
    background-color: var(--cor-destaque1);
    color: white;
    opacity: 0.9;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 15px;
}

h1,
h2 {
    font-family: var(--fonte-titulo);
}

footer {
    background-color: var(--cor-secundaria);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

footer a {
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.history {
    padding: 2rem;
}

.history h2 {
    text-align: center;
    margin-bottom: 20px;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    gap: 20px;
    align-items: center;
}

.history-content img {
    width: 100%;
}

.adventures {
    padding: 2rem;
}

.adventures h2 {
    text-align: center;
    margin-bottom: 20px;
}

.adventure-gallery {
    display: flex;
    gap: 10px;
}

.adventure-gallery figure {
    flex: 1;
    text-align: center;
}

.adventure-gallery img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.sociallinks {
    display: flex;
    gap: 10px;
}

.sociallinks img {
    width: 32px;
}

figcaption {
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}

header,
header *,
header a,
header li,
header ul,
header nav {
    color: white !important;
}

header img {
    background-color: white;
    padding: 5px;
}